<div class="panel panel-success">
    <div class="panel-heading">商品采购</div>
    <div class="panel-body">
        <div class="row-fluid">
            <!-- Row2 start -->


            <div class="span3 PlanPricing template4">
                <div class="planName"> <span class="price">￥5</span>
                    <h3>苹果</h3>
                    <p>山东烟台</p>
                </div>
                <div class="planFeatures">
                    <ul>
                        <li><img src="__PUBLIC__/img/pg.jpg"></li>
                        <li>张老板</li>

                    </ul>
                </div>
                <p> <a href="#Signup" role="button" data-toggle="modal" class="btn btn-success btn-large">采购 </a> </p>
            </div>

            <div class="span3 PlanPricing template4">
                <div class="planName"> <span class="price">￥5</span>
                    <h3>苹果</h3>
                    <p>山东烟台</p>
                </div>
                <div class="planFeatures">
                    <ul>
                        <li><img src="__PUBLIC__/img/pg.jpg"></li>
                        <li>张老板</li>

                    </ul>
                </div>
                <p> <a href="#Signup" role="button" data-toggle="modal" class="btn btn-success btn-large">采购 </a> </p>
            </div>

            <div class="span3 PlanPricing template4">
                <div class="planName"> <span class="price">￥5</span>
                    <h3>苹果</h3>
                    <p>山东烟台</p>
                </div>
                <div class="planFeatures">
                    <ul>
                        <li><img src="__PUBLIC__/img/pg.jpg"></li>
                        <li>张老板</li>

                    </ul>
                </div>
                <p> <a href="#Signup" role="button" data-toggle="modal" class="btn btn-success btn-large">采购 </a> </p>
            </div>

            <div class="span3 PlanPricing template4">
                <div class="planName"> <span class="price">￥5</span>
                    <h3>苹果</h3>
                    <p>山东烟台</p>
                </div>
                <div class="planFeatures">
                    <ul>
                        <li><img src="__PUBLIC__/img/pg.jpg"></li>
                        <li>张老板</li>

                    </ul>
                </div>
                <p> <a href="#Signup" role="button" data-toggle="modal" class="btn btn-success btn-large">采购 </a> </p>
            </div>
            <div class="span3 PlanPricing template4">
                <div class="planName"> <span class="price">￥5</span>
                    <h3>苹果</h3>
                    <p>山东烟台</p>
                </div>
                <div class="planFeatures">
                    <ul>
                        <li><img src="__PUBLIC__/img/pg.jpg"></li>
                        <li>张老板</li>

                    </ul>
                </div>
                <p> <a href="#Signup" role="button" data-toggle="modal" class="btn btn-success btn-large">采购 </a> </p>
            </div>

            <div class="span3 PlanPricing template4">
                <div class="planName"> <span class="price">￥5</span>
                    <h3>苹果</h3>
                    <p>山东烟台</p>
                </div>
                <div class="planFeatures">
                    <ul>
                        <li><img src="__PUBLIC__/img/pg.jpg"></li>
                        <li>张老板</li>

                    </ul>
                </div>
                <p> <a href="#Signup" role="button" data-toggle="modal" class="btn btn-success btn-large">采购 </a> </p>
            </div>

            <div class="span3 PlanPricing template4">
                <div class="planName"> <span class="price">￥5</span>
                    <h3>苹果</h3>
                    <p>山东烟台</p>
                </div>
                <div class="planFeatures">
                    <ul>
                        <li><img src="__PUBLIC__/img/pg.jpg"></li>
                        <li>张老板</li>

                    </ul>
                </div>
                <p> <a href="#Signup" role="button" data-toggle="modal" class="btn btn-success btn-large">采购 </a> </p>
            </div>

            <div class="span3 PlanPricing template4">
                <div class="planName"> <span class="price">￥5</span>
                    <h3>苹果</h3>
                    <p>山东烟台</p>
                </div>
                <div class="planFeatures">
                    <ul>
                        <li><img src="__PUBLIC__/img/pg.jpg"></li>
                        <li>张老板</li>

                    </ul>
                </div>
                <p> <a href="#Signup" role="button" data-toggle="modal" class="btn btn-success btn-large">采购 </a> </p>
            </div><!-- Price template4 Ends -->




        </div>  <!-- Row2 ends -->
    </div>
</div>