<style type="text/css">
    body {
        font-family: 'microsoft yahei', Arial, sans-serif;
        color: #898989;
    }

    .shape {
        border-style: solid;
        border-width: 0 80px 80px 0;
        float: right;
        height: 0px;
        width: 0px;
        -ms-transform: rotate(360deg); /* IE 9 */
        -o-transform: rotate(360deg); /* Opera 10.5 */
        -webkit-transform: rotate(360deg); /* Safari and Chrome */
        transform: rotate(360deg);
    }

    .speical {
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        margin: 15px 0;
        overflow: hidden;
    }

    .speical:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: rotate scale(1.1);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .shape {
        border-color: rgba(255, 255, 255, 0) #669933 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }

    .speical-default {
        border: 1px solid #3399CC;
    }

    .speical-radius {
        border-radius: 5px;
    }

    .shape-text {
        color: #fff;
        font-size: 14px;
        position: relative;
        right: -45px;
        top: 2px;
        white-space: nowrap;
        -ms-transform: rotate(45deg); /* IE 9 */
        -o-transform: rotate(45deg); /* Opera 10.5 */
        -webkit-transform: rotate(45deg); /* Safari and Chrome */
        transform: rotate(45deg);
    }

    .text-special-default {
        color: #3399CC;
    }

    .speical-content {
        padding: 0 20px 10px;
    }
</style>
<div class="panel panel-success">
    <div class="panel-heading">商品供应&nbsp;&nbsp;&nbsp;<a href="__URL__/add">我要供应</a></div>
    <div class="panel-body">
        <div class="row">
            <volist name="list" id="vo">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <a href="__CONTROLLER__/detail/{$vo.id}">
                        <div class="speical speical-default speical-radius">
                            <div class="shape">
                                <div class="shape-text">
                                    促销
                                </div>
                            </div>
                            <div class="speical-content">
                                <h3 class="text-special-default">
                                    {$vo.name}
                                </h3>

                                <p>
                                    <img class="img-responsive img-rounded"
                                         src="__ROOT__/Uploads/{$vo.photo}" alt="MI">
                                </p>

                                <p>
                                    {$vo.price}元/斤
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </volist>
        </div>
    </div>
</div>